:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color: #2dae7d;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
scroll-behavior: smooth;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto; 
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__row {
    flex-wrap: wrap;
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.grid-slider{
    margin: 10px 20px;
}
/* modal */ 
.modal__rigsiter , .modal__login{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal__overplay{
    margin: auto;
    background-color: #fff;
    
}
.modal__body{
    
}